
/* COLORS: https://coolors.co/dedc68-222222-0cbaba-dfdfdf-8ed081 */

.yellow {
    color: #dedc68;
}

.black {
    color: #222222;
}

.blue {
    color: #0cbaba;
}

.light {
    color: #dfdfdf;
}

.green {
    color: #8ed081;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}
/* Voeg jouw css hieraan toe */

/* Colors */
.bg-darkred {
    background-color: #61210f;
}

.bg-red {
    background-color: #ea2b1f;
}

.bg-yellow {
    background-color: #dedc68;
}

.bg-light {
    background-color: #f9edcc;
}

.bg-white {
    background-color: #fefeff;
}

.text-darkred {
    color: #61210f;
}

.text-red {
    color: #ea2b1f;
}

.text-yellow {
    color: #dedc68;
}

.text-light {
    color: #f9edcc;
}

.text-white {
    color: #fefeff;
}

/* Other Classes */
p {
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 15pt;
}

.box {
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    padding: 1%;
    max-width: 100%;
}

.typo {
    display: grid;
    grid-template:
        'header' 80px
        'content' 1fr / 100%;
}

.header {
    border-bottom: 2px solid #ea2b1f;
    grid-area: header;
}

.text-type {
    font-family: "Montserrat", sans-serif;
    font-size: 15pt;
    font-weight: 300;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 20pt;
    font-weight: 700;
    line-height: 23pt;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
    font-weight: 700;
    line-height: 21pt;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
    font-weight: 100;
    line-height: 21pt;
    text-transform: uppercase;
}