
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}
/* Voeg jouw css hieraan toe */

/* Colors */
:root {
    --yellow: #dedc68;
    --black: #222222;
    --red: #ea2b1f;
    --red-dark: #61210f;
    --light: #f9edcc;
}
/* Other Classes */
p {
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 15pt;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 20pt;
    font-weight: 700;
    line-height: 23pt;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
    font-weight: 700;
    line-height: 21pt;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
    font-weight: 100;
    line-height: 21pt;
    text-transform: uppercase;
}

.colour-boxes {
    align-content: space-between;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.colour-box {
    border-radius: 6px;
    box-shadow: 0 0 6px #444;
    margin: 1% auto;
    overflow: hidden;
    width: 250px;
    height: 150px;
}

.colour-border-bottom {
    border-bottom: 1px solid var(--red-dark);
}

.colour-fill {
    background-color: #222;
    width: 100%;
    height: 100%;
}

.styleguide-box {
    border-radius: 6px;
    box-shadow: 0 0 5px #444;
    display: grid;
    grid-template:
        'header' auto
        'code' 250px
        'example' 1fr / 100%;
    margin: 1% auto;    
}

.styleguide-header {
    background-color: var(--light);
    border-radius: 6px 6px 0 0;
    color: var(--red-dark);
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
    grid-area: header;
    padding: 1% 2%;
}

.styleguide-code {
    background-color: var(--light);
    border-bottom: 1px solid var(--red-dark);
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
    grid-area: code;
    height: auto;
    padding: 1% 2%;
}

.styleguide-example {
    grid-area: example;
    padding: 1% 2%;
}

.btn {
    background: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-ticket {
    background-color: var(--red);
    border: 1px solid var(--red-dark);
    color: var(--light);
    font-weight: 700;
    padding: 1%;
    text-transform: uppercase;
}

.tile-rightbottom {
    background-color: var(--black);
    display: grid;
    grid-template:
        '. .' 1fr
        '. content' 1fr / 1fr 1fr;
    height: 160px;
    padding: 2%;
    width: 160px;
}

.tile-content {
    color: var(--light);
    grid-area: content;
}

.tile-ticket {
    align-items: center;
    background-color: var(--red);
    border-radius: 6px;
    color: var(--light);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
    justify-content: space-between;
}

.ticket-img {
    background-color: var(--black);
    grid-area: img;
    height: 100%;
    width: 150px;
}

.ticket-title {
    padding: 0 2%;
    text-transform: uppercase;
}

.ticket-title h1 {
    font-size: 50px;
    line-height: 25px;
}

.ticket-desc {
    padding: 1% 0;
}

.ticket-price {
    padding: 0 2%;
    text-align: right;
    text-transform: uppercase;
}

.tile-text {
    border-radius: 6px;
    margin: 2% 0;
    max-width: 45%;
    padding: 3%;
}

.tile-normal {
    background-color: var(--red);
    color: var(--light);
}

.tile-normal h1 {
    color: var(--yellow);
}

.tile-light {
    background-color: var(--light);
    color: var(--red-dark);
}

.tile-light h1 {
    color: var(--red);
}

.tile-fullbottom {
    background-color: var(--black);
    color: var(--light);
    display: grid;
    grid-template:
    '. .' 1fr
    'content content' 1fr / 1fr 1fr;
    height: 200px;
    padding: 2%;
    width: 200px;
}

.navbar {
    background-color: var(--red-dark);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
    justify-content: space-between;
    padding: 0 2%;
}

.nav-logo {
    align-self: center;
    flex-grow: 0;
}

.nav-img { 
    height: 45px;
}

.nav-links {
    align-self: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;
    text-align: right;
}

.nav-links a {
    color: var(--light);
    font-weight: 700;
    margin: auto 2%;
    text-decoration: none;
    text-transform: uppercase;
}

.logos {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}

pre {
    background-color: #f5f5f5;
    border: 0 !important;
    border-radius: 6px;
    box-shadow: 0 0 3px #666;
    font-family: "Ubuntu Mono", 'Courier New', Courier, monospace;
    height: 95%;
    overflow: auto;
}

/* Code styling */
pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #444; } /* punctuation - white */
pre .pln, code .pln { color: #444; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #f5f5f5;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
